@import "tailwindcss";

.logo {
  animation-name: animate;
  animation-duration: 2s;       
  animation-iteration-count: infinite; 
  animation-direction: alternate;  
  animation-timing-function: ease-in-out; 
}

@keyframes animate {
  0% {
    transform: scale(1);  
  }
  100% {
    transform: scale(2);  
  }
}

